<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>관리자 페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

<div class="container mt-3">
  <h2>관리자</h2>
  <form>
    <div class="mb-3 mt-3">
      <label for="username">아이디</label>
      <input type="text" class="form-control" value="admin" id="username" name="username" disabled>
    </div>
    <div class="mb-3">
      <label for="password">비밀번호:</label>
      <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요." name="password">
    </div>
    <div class="mb-3">
      <label for="cpassword">비밀번호 확인:</label>
      <input type="password" class="form-control" id="cpassword" placeholder="비밀번호를 다시 입력하세요." name="cpassword">
    </div>
  </form>
  <button type="button" id="btn-save-user" class="btn btn-success">수정하기</button>
  
  <form>
    <div class="mb-3 mt-3">
      <label for="open-time">계점 시간</label>
      <input type="text" class="form-control" id="open-time" placeholder="09:00" name="open-time">
    </div>
    <div class="mb-3 mt-3">
      <label for="close-time">폐점 시간</label>
      <input type="text" class="form-control" id="close-time" placeholder="18:00" name="close-time">
    </div>
    <div class="mb-3 mt-3">
      <label for="break-time">휴식 시간</label>
      <input type="text" class="form-control" id="break-time" placeholder="12:00 - 13:00" name="break-time">
    </div>
    <div class="mb-3 mt-3">
      <label for="break-time">예약 시간 간격(분)</label>
      <input type="text" class="form-control" id="appt-interval" placeholder="10, 20, 30, 40, 50, 60 중 하나" name="appt-interval">
    </div>
    
  </form>
  <button type="button" id="btn-save-time" class="btn btn-success">설정하기</button>  
</div>
</body>

<script src="/js/setting.js"></script> 
</html>