<!DOCTYPE html>
<html lang="en">
<head>
  <title>예약변경</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <!-- DatePicker --> 
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>  
  <!-- DatePicker -->  

<style>
	.popover {
    	left: 40% !important;
	}
	
	.btn {
    	margin: 1%;
	}
</style>
  
</head>
<body>

<div class="container mt-3">
  <h2>영업 시간: {{ops-time.openTime}} - {{ops-time.closeTime}}</h2>
  <h2>예약 아이디: {{appt-id}}</h2>
  <br />
  <form>
  	<div class="form-group">
 	  <label for="appt-time" class="form-label">날짜와 시간</label>      
	  <input type="hidden" class="form-control" id="open-time" value="{{ops-time.openTime}}">
	  <input type="hidden" class="form-control" id="close-time" value="{{ops-time.closeTime}}">
	  <input type="hidden" class="form-control" id="appt-interval" value="{{ops-time.apptInterval}}">
	  <input type="hidden" class="form-control" id="appts" value="{{appts}}">
	  <input type="hidden" class="form-control" id="appt-id" value="{{appt-id}}">
	  <input type="hidden" class="form-control" id="client-name" value="{{client-name}}">
	  <input type="hidden" class="form-control" id="client-phone" value="{{client-phone}}">
    	
	  <div class="date-picker-2" id="appt-date" aria-describedby="basic-addon2"></div> <!-- inline display -->
	  <!-- <span id="example-popover-2"></span> -->
	  <span id="appt-popover"></span> 
      <div id="appt-popover-content" class="hidden"> </div>
	  <div id="appt-popover-title" class="hidden"> </div>
    </div>  
    <br />
    
  	<div class="form-group">    
   	  <button type="button" id="btn-update" class="btn btn-warning">변경하기</button>    
  	</div>
  </form>
</div>
</body>
  
<script src="update.js"></script> 
</html>